
   




.box1{
    height:300px;
    background-color:red;
   
    
    
}
.box2{
    height:300px;
    background-color:yellow;
}
.box3{
    height:300px;
    background-color:green;
}
.box4{
    height:300px;
    background-color:purple;
}
.box5{
    height:300px;
    background-color:orange;
}
.box6{
    height:300px;
    background-color:blue;
}